.login-form {
	max-width: 50rem;
	padding: 1rem;
	margin: 0 auto;

	.logo {
		display: block;
		width: 90%;
		max-width: 20rem;
		margin: 0 auto 6rem;
		font-size: 2.5em;
		font-family: Georgia, Verdana, Arial;
		text-align: center;

		>img {
			height: 7rem;
			margin-bottom: 1rem;
		}

		.simple {
			color: var(--ot-color_logo_gray);
		}

		.app {
			color: var(--ot-color_logo_blue);
		}
	}

	.title {
		color: #fff;
		text-align: center;
	}

	.btn {
		margin: 5rem 0 0;
		width: 100%;
		border-radius: 2rem;
		padding: 1rem 0;
		font-size: 2.5rem;
	}
}