/*	============================================================
	Main header and navigation styles
	============================================================ */
header.header {
	background-color: var(--ot-color_drk_gray);
	padding: 1rem;
	max-height: 5rem;

	.logo {
		font-size: 1.5em;
		font-family: var(--ot-font-family);
		white-space: nowrap;

		>img {
			width: 2.5rem;
			margin-right: .5rem;
		}

		.simple {
			color: var(--ot-color_logo_gray);
		}

		.app {
			color: var(--ot-color_logo_blue);
		}
	}

	.hamburger {
		img {
			width: 3rem;
			height: auto;
			cursor: pointer;
		}
	}
}

// Hamburger menu styles
#menu {
	position: fixed;
	min-width: 18rem;
	height: calc(100% - 5rem);
	background-color: rgb(255, 255, 255);
	right: -20rem;
	top: 5rem;
	overflow-y: auto;
	box-shadow: black 0 0 0 0;
	z-index: 1000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	&.open {
		right: 0;
		box-shadow: black 0 0 .5rem 0;
	}

	ul {
		width: 100%;
		padding: 0;
		margin: 0 0 1rem 0;
		font-size: 1em;
		text-align: left;
		list-style: none;

		li {
			border-bottom: 1px solid #bbb;

			>a,
			>div {
				padding: .7rem 1rem;
				font-size: .85em;
			}

			>a {
				display: block;
				color: #5c606c;
				text-decoration: none;
			}

			&.category {
				background-color: var(--ot-color_drk_gray);
				color: var(--ot-color_white);
			}

			&.selected {
				background-color: #d4d4d4;
			}

			&:hover:not(.selected):not(.category) {
				cursor: pointer;
				background-color: var(--ot-color_lt_gray);
			}
		}
	}

}

// Date updated styles
.row.date-last-updated {
	background-color: #efefef;
	align-items: center;
	height: 3rem;
	font-size: 1.2rem;
	border-bottom: .1rem solid var(--ot-gray-300);
}

// Back button for all page views that will lay over the last updated div
.nav-back {
	position: absolute;
	display: flex;
	top: 0;
	height: calc(3rem - .1rem);
	width: calc(100% - var(--bs-gutter-x));
	align-items: center;
	font-size: 1em;
	background-color: #efefef;
	z-index: 1;

	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
	}
}