#products {
	.filters {
		display: flex;
		align-items: flex-start;
		gap: 1rem;

		&>div:not(:last-child) {
			flex: 1;
		}

		&>div input,
		&>div select,
		&>div button {
			width: 100%;
		}
	}

	.products_list {
		.product {
			border: 1px solid #eaeaea;
			width: 20rem;
			cursor: pointer;

			&:hover {
				background-color: var(--ot-color_lt_gray);
				border-color: #ddd;
			}

			hr {
				border-color: #999;
			}

			img {
				width: 100%;
				height: 12.5rem;
				object-fit: contain;
				mix-blend-mode: multiply;
			}
		}

		@media only screen and (max-width: 435px) {
			.product {
				width: 100% !important;

				img {
					height: 17.5rem !important;
				}
			}
		}
	}
}