*:root {
	--ot-primary-gray: #5c606c;
	--ot-primary-gray-lt: #cdd0c7;
	--ot-primary-green: #4fc0b2;
	--ot-primary-orange: #f38c5c;
	--ot-gray-100: #eee;
	--ot-gray-200: #ddd;
	--ot-gray-300: #ccc;
	--ot-gray-400: #bbb;
	--ot-gray-500: #aaa;
	--ot-gray-600: #999;
	--ot-gray-700: #888;
	--ot-gray-800: #777;
	--ot-gray-900: #666;
	--ot-blue: #337ab7;
	--ot-red: #d7403a;
	--ot-red-dark: #900;
	--ot-green: #007600;
	--ot-white: #fff;

	--ot-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	// --ot-logo-font-family: Georgia,Verdana,Arial;
	--ot-font-size: 1.4rem; /* 14px */
	--ot-link-color: var(--ot-blue);
	--ot-border: .1rem solid var(--ot-gray-300);

	/* NEW */
	//--ot-font-family: Georgia, Verdana, Arial;
	--ot-color_drk_gray: #5c606c;
	--ot-color_lt_gray: #efefef;
	--ot-color_logo_blue: #00bff2;
	--ot-color_logo_gray: #cdd0c7;
	--ot-color_white: #fff;
	--ot-color_black: #000;
	--ot-color_error_red: #dc3545;
	--ot-color_success_green: #007600;
}
$font-family: Georgia, Verdana, Arial;
$color_drk_gray: #5c606c;
$color_lt_gray: #efefef;
$color_logo_blue: #00bff2;
$color_logo_gray: #cdd0c7;
$color_white: #fff;
$color_black: #000;

* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body,
html {
	margin: 0;
	padding: 0;
	letter-spacing: .05em;
}

body {
	color: $color_drk_gray;
	font-size: 1.4rem;
}

div {
	position: relative;
}

.inline {
	display: inline-block;
}

/* Removes the yellow background color */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 100rem white inset;
}

.hidden {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.width-100 {
	width: 100%;
}

.text-right {
	text-align: right;
}

.align-right {
	margin-left: auto;
}

/*	============================================================
	Main content styles
	============================================================ */
main {
	flex: 1;

	#content {
		padding: 2rem 0;

		p.small.note {
			border: 1px solid;
			border-radius: .5rem;
			padding: .5rem;
			background-color: $color_lt_gray;
		}

		>div {
			display: none;

			&.active {
				display: block;
			}

			>div>h1:first-child {
				color: $color_logo_blue;
				font-size: 2.6em;
				/* fallback if vw is not supported */
				font-size: 7.5vw;
				/* Value should be tested against longest title */
			}
		}
	}

	// Prevent background color changing while scrolling on a mobile device
	@media (hover: none) {
		#content .row.data:hover {
			background-color: inherit !important;
		}
	}

	@media screen and (min-width:500px) {
		#content>div>div>h1:first-child {
			font-size: 2.6em !important;
			/* Stop sizing text after screen width >= 500px */
		}
	}

	// breadcrumb styles
	.breadcrumb {
		color: var(--bs-tertiary-color);

		a {
			color: var(--bs-tertiary-color);
		}

		.divider {
			padding: 0 .5rem;
		}
	}
}


/*	============================================================
	Main footer styles
	============================================================ */
footer {
	padding: 4rem 0;

	a {
		display: block;
	}

	.social-logos {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.social-logos li {
		display: inline-block;
		margin: 0 1rem;
	}

	.social-logos a svg {
		fill: #000;
		height: 2rem;
		width: 2rem;
	}

	.row {
		margin-bottom: 2rem;
		text-align: center;
	}

	.row:last-child {
		margin: 0;
	}
}

/*	============================================================
	Modal dialog styles
	============================================================ */
.modal-dialog {
	.modal-header {
		padding: 1rem;
		height: 4.5rem;
		background-color: $color_lt_gray;
		border-radius: .5rem .5rem 0 0;

		.modal-title {
			text-transform: capitalize;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 1.8rem;
		}

		.close {
			margin-left: auto;
			border: none;
			font-size: 1.5em;
			font-weight: bold;
			color: #000;
			opacity: .2;
			cursor: pointer;
		}

		.close:focus,
		.close:hover {
			color: #000;
			text-decoration: none;
			filter: alpha(opacity=50);
			opacity: .5;
		}
	}

	.modal-body {
		height: calc(100vh - 120px);
		max-height: 60rem;
		overflow-y: auto;

		p:first-child,
		p:last-child {
			margin: 0;
		}
	}

	.modal-footer {
		padding: 1rem;
		height: 5.5rem;
		background-color: $color_lt_gray;
		border-radius: 0 0 .5rem .5rem;
		justify-content: space-between;

		>* {
			margin: 0;
		}

		.close {
			margin: 0 auto 0 0;
		}
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		margin: 1rem auto;
		max-width: 60rem;
	}
}

/*	============================================================
	Boostrap overrides styles
	============================================================ */
.bi.bi-bold {
	-webkit-text-stroke: 1px;
}

.spinner-border {
	border-width: .3rem;
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	margin-left: .5rem;
}

.form-select, .form-control, .btn {
  font-size: 1.4rem;
}


/*	============================================================
	Button styles
	============================================================ */
.btn {
	&.btn-action {
		background-color: $color_logo_blue;
		color: $color_white;

		&.active,
		&:active {
			background-color: $color_logo_blue;
			color: $color_white;
		}
	}

	&.active,
	&.btn:active {
		outline: 0;
		box-shadow: inset 0 .3rem .5rem rgba(0, 0, 0, .125);
	}

	&.btn-default {
		background-color: var(--ot-white);
		border-color: var(--ot-gray-300);

		&:hover {
			color: var(--ot-primary-gray);
			background-color: var(--ot-gray-100);
			border-color: var(--ot-gray-500);
		}
	}
}

.error {
	border: 1px solid #dc3545;
	padding: 1rem;
	background-color: #ffeeee;
	border-radius: .5rem;
	text-align: center;
	font-size: .9em;
	color: var(--ot-color_error_red);

	&.success {
		color: var(--ot-color_success_green);
		border-color: var(--ot-color_success_green);
		background-color: #ebffeb;
	}
}